.wrapper {
    max-width: 1140px;
    width: 80%;
    margin: 0 auto;
}

button {
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    background-color: $dark;
    color: $light;
    border-radius: 5px;
    text-transform: uppercase;
        &:hover,
        &:focus {
            cursor: pointer;
        }
}

a {
    text-decoration: none;
}

